<h1> Welcome to Super Rentals </h1>

<p>We hope you find exactly what you're looking for in a place to stay.</p>

<ul>
  {{#each model as |rental|}}
    {{rental-title rental=rental}}
  {{/each}}
</ul>

<!-- USED IN PAIR W/ MODEL FUNCTION FROM APP/ROUTES/INDEX.JS FILE -->
<!-- <ul>
  {{#each model.announcements as |announcement|}}
    {{announcement-title announcement=announcement}}
  {{/each}}
</ul> -->

<br>{{new-rental save2="save3"}}

<br>{{#link-to 'about'}}About{{/link-to}}
<br>{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
<br>{{#link-to 'announcements'}}View Announcements!{{/link-to}}
